body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #f68b1e;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 8px;
  border: none;
  background: white;
  color: #f68b1e;
  cursor: pointer;
  margin-left: 5px;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  gap: 15px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
}
